<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑案例</title>
	<meta charset="UTF-8">
 	<link rel="stylesheet" type="text/css" href="<?php echo base_url() .'style/' ?>Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() .'style/' ?>Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() .'style/' ?>Css/style.css" />
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form action="<?php echo site_url('cases/edit')?>" method="post" class="definewidth m20" enctype="multipart/form-data">
	<input type="hidden" name="caid" value="<?php if(isset($cases)){echo $cases[0]['caid'];}else{echo $caid;}?>" />
	<table class="table table-bordered table-hover definewidth m10">
	    <caption><h2>编辑案例</h2></caption>
	    <tr>
            <td width="10%" class="tableleft">案例标题</td>
            <td><input type="text" name="title" value="<?php if(isset($cases)){echo $cases[0]['title'];}else{echo $title;}?>" <?php echo set_value('title') ?>/>
			<?php echo form_error('title', '<span>', '</span>') ?>
			</td>
	    </tr> 
	    <tr>
			<td class="tableleft">类型</td>
			<td>
			<input <?php if(isset($cases)){if($cases[0]['type']==0){echo "checked";}}else{if($type==0){echo "checked";}}?> type="radio" name="type" value="0"<?php echo set_radio('type', '0', TRUE) ?>/> 常规案例
			<input <?php if(isset($cases)){if($cases[0]['type']==1){echo "checked";}}else{if($type==0){echo "checked";}}?> type="radio" name="type" value="1"<?php echo set_radio('type', '1') ?>/> 科技案例
			</td>
		</tr>
		<tr>
		<td>缩略图</td>
		<td>
			<input id="lefile" type="file" name="thumb" style="display:none">
			<input id="photoCover" placeholder="建议900*500" type="text">
			<a class="btn btn-default" onclick="$('input[id=lefile]').click();">浏览</a>
		</td>
		</tr>
		<tr>
			<td>内容</td>
			<td>
				<textarea name="content" id="" style="width:550px;height:500px;"><?php echo set_value('content') ?><?php if(isset($cases)){echo $cases[0]['content'];}else{echo $content;}?></textarea>
				<?php echo form_error('content', '<span>', '</span>'); ?>
			</td>
		</tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">发布</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
	</table>
</form>
<script type="text/javascript" src="<?php echo base_url() .'style/' ?>Js/jquery.js"></script>
<script type="text/javascript" src="<?php echo base_url() .'style/' ?>Js/bootstrap.js"></script>
<script type="text/javascript" src="<?php echo base_url() .'style/' ?>Js/ckform.js"></script>
<script type="text/javascript" src="<?php echo base_url() .'style/' ?>Js/common.js"></script>
<script>
	$(function () { 
		$('input[id=lefile]').change(function() {
	   			$('#photoCover').val($(this).val());
			});      
		$('#backid').click(function(){
			window.location.href="<?php echo site_url('cases/index') ?>";
		});

	});
</script>
</body>
</html>